.Rproj.user
.Rhistory
.RData
packrat/lib*/
temp
plots
out
codes
packrat/src/
cache
legal-codes-split
clusters
Images
racial-exclusions/list of exclusions.txt
innovations/
debt-clusters
racial-exclusions
talks/dhsi-colloquium
article/Google Drive exports
article/drafts and chapters
article/peer review
doc
article/AHR-resubmission
