.slide {
  text-align: left;
  background-size: contain !important;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  font-size: 1.25em !important;
  text-transform: none;
}

.level1 h1 {
  text-align: center;
  font-size: 1.75em !important;
  margin-top: 250px;
}

.slide p img,
figure img,
pre,
code,
blockquote {
  border: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	overflow: hidden !important;
}

figure img {
  margin: 0 !important;
  max-height: 525px !important;
}

figure figcaption {
  font-size: 1.5rem !important;
}

h1.title {
  text-align: left;
  color: orange !important;
  margin-bottom: 1rem !important;
  text-transform: uppercase !important;
  font-size: 2.0em !important;
}

.author {
  text-align: left;
  margin-top: 8rem !important;
  text-transform: uppercase !important;
}

.date {
  text-align: left !important;
  margin-top: -1rem !important;
  text-transform: lowercase !important;
}

.date a {
  color: rgb(187, 187, 187) !important;
}

div.left {
  float: left;
  width: 50%;
}

div.right {
  float: right;
  width: 50%;
}

div.right p img,
div.left p img {
  max-height: 550px !important;
  margin: auto;
}

div.right p,
div.left p {
  padding: 0;
  margin: 0;
}

.reveal table {
  border: 1px solid black;
}

.reveal table td {
  border-style: solid;
  text-align: left;
}

.reveal table th {
  border: 1px solid black;
  border-bottom: 3px solid black;
  font-weight: bold;
}

.reveal ol,
.reveal ul {
  display: block;
  width: 100%;
}
